In [11]:
! pip list

Package         Version   Editable project location
--------------- --------- --------------------------------------------------------------------------------------------------------------------
diabetes        0.1.0
diabetesoop     0.1.0     /Users/dyada/Desktop/BSE/Computing for Data Science/homeworks/hm6/homework-6-computing-data-science/diabetesoop
dspipeline      0.1.0     /Users/dyada/Desktop/BSE/Computing for Data Science/homeworks/final/homework-final-computing-data-science/dspipeline
et-xmlfile      1.1.0
geographiclib   2.0
geopy           2.3.0
joblib          1.2.0
numpy           1.23.4
openpyxl        3.0.10
pandas          1.5.1
pip             22.3.1
python-dateutil 2.8.2
pytz            2022.6
scikit-learn    1.1.3
scipy           1.9.3
setuptools      65.5.1
six             1.16.0
sklearn         0.0.post1
threadpoolctl   3.1.0
wheel           0.37.1

In [1]:
import sys
package_path = '/Users/dyada/Desktop/BSE/Computing for Data Science/homeworks/final/homework-final-computing-data-science/dspipeline'
sys.path.append(package_path)

In [2]:
from dspipeline.data.load import Data
from dspipeline.processing.prep import DropNaNs, FillNaNs
from dspipeline.processing.transformer import Dummifier, Binarizer
from dspipeline.modeling.model import Model
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score

In [3]:
X_FEATURES = ['Tenure', 'CityTier', 'WarehouseToHome',]
Y_FEATURE = 'Churn'

#### a. Load the data.

In [4]:
data = Data()
X_y_train, X_y_test = data.from_excel('../data/E Commerce Dataset.xlsx', Y_FEATURE, 'E Comm')

print('X_y_train>>', X_y_train)
print('X_y_test>>', X_y_test)

X_y_train>>             Tenure PreferredLoginDevice  CityTier  WarehouseToHome  \
CustomerID
51788          9.0             Computer         3             16.0
52148          6.0             Computer         3             13.0
51718          8.0         Mobile Phone         1             15.0
52293         15.0         Mobile Phone         3             11.0
55579         12.0             Computer         1             13.0
...            ...                  ...       ...              ...
54067         12.0         Mobile Phone         1             16.0
54564         15.0         Mobile Phone         3              7.0
54771          1.0         Mobile Phone         1             12.0
51385          6.0             Computer         3              6.0
55141          1.0             Computer         3              9.0

           PreferredPaymentMode  Gender  HourSpendOnApp  \
CustomerID
51788               Credit Card    Male             2.0
52148                Debit Card  Female             1.0
51718                Debit Card    Male             3.0
52293                Debit Card    Male             3.0
55579                Debit Card    Male             4.0
...                         ...     ...             ...
54067                Debit Card    Male             4.0
54564                  E wallet    Male             3.0
54771          Cash on Delivery    Male             3.0
51385                Debit Card  Female             2.0
55141                Debit Card  Female             3.0

            NumberOfDeviceRegistered    PreferedOrderCat  SatisfactionScore  \
CustomerID
51788                              3             Fashion                  1
52148                              3  Laptop & Accessory                  4
51718                              4  Laptop & Accessory                  4
52293                              3             Fashion                  4
55579                              5  Laptop & Accessory                  3
...                              ...                 ...                ...
54067                              4        Mobile Phone                  1
54564                              2             Fashion                  5
54771                              5             Fashion                  1
51385                              1  Laptop & Accessory                  5
55141                              5        Mobile Phone                  1

           MaritalStatus  NumberOfAddress  Complain  \
CustomerID
51788             Single                2         0
52148            Married                1         0
51718             Single               10         0
52293             Single               10         1
55579            Married                4         0
...                  ...              ...       ...
54067            Married                4         0
54564            Married                3         0
54771            Married                3         1
51385            Married                3         0
55141             Single                9         0

            OrderAmountHikeFromlastYear  CouponUsed  OrderCount  \
CustomerID
51788                              14.0         8.0         9.0
52148                              17.0         0.0         1.0
51718                              19.0         0.0         1.0
52293                              19.0         7.0         7.0
55579                              12.0         3.0         8.0
...                                 ...         ...         ...
54067                              20.0         2.0         2.0
54564                              17.0         2.0         2.0
54771                              17.0         2.0         NaN
51385                              19.0         0.0         1.0
55141                              15.0         1.0         2.0

            DaySinceLastOrder  CashbackAmount  Churn
CustomerID
51788                     7.0          199.80      0
52148                     2.0          143.02      0
51718                     0.0          165.40      0
52293                     7.0          184.46      1
55579                     8.0          178.21      0
...                       ...             ...    ...
54067                     4.0          172.71      0
54564                     8.0          208.92      0
54771                     9.0          253.08      0
51385                     3.0          153.76      0
55141                     1.0          152.85      1

[4504 rows x 19 columns]
X_y_test>>             Tenure PreferredLoginDevice  CityTier  WarehouseToHome  \
CustomerID
54007         17.0             Computer         3              9.0
51970         26.0         Mobile Phone         3             13.0
54236          5.0         Mobile Phone         1             15.0
50106         25.0                Phone         1              8.0
52296          4.0             Computer         3              8.0
...            ...                  ...       ...              ...
54363          8.0             Computer         1             17.0
52488         18.0         Mobile Phone         1             11.0
55064          3.0         Mobile Phone         1             14.0
51959          7.0                Phone         2              9.0
51315          9.0         Mobile Phone         3              9.0

           PreferredPaymentMode  Gender  HourSpendOnApp  \
CustomerID
54007                Debit Card    Male             4.0
51970                  E wallet  Female             3.0
54236                Debit Card  Female             4.0
50106                Debit Card  Female             2.0
52296                Debit Card  Female             2.0
...                         ...     ...             ...
54363               Credit Card    Male             3.0
52488               Credit Card  Female             2.0
55064                Debit Card    Male             3.0
51959                       UPI    Male             2.0
51315               Credit Card  Female             3.0

            NumberOfDeviceRegistered    PreferedOrderCat  SatisfactionScore  \
CustomerID
54007                              4  Laptop & Accessory                  1
51970                              4             Fashion                  1
54236                              4  Laptop & Accessory                  1
50106                              4              Mobile                  2
52296                              3             Fashion                  3
...                              ...                 ...                ...
54363                              4        Mobile Phone                  3
52488                              5  Laptop & Accessory                  5
55064                              4  Laptop & Accessory                  1
51959                              3        Mobile Phone                  1
51315                              4             Fashion                  1

           MaritalStatus  NumberOfAddress  Complain  \
CustomerID
54007            Married                3         0
51970            Married                8         1
54236             Single                3         0
50106             Single                8         0
52296            Married                2         1
...                  ...              ...       ...
54363            Married                3         1
52488             Single                2         1
55064            Married                3         1
51959            Married                1         0
51315            Married                1         0

            OrderAmountHikeFromlastYear  CouponUsed  OrderCount  \
CustomerID
54007                              21.0         6.0         8.0
51970                              18.0         0.0         1.0
54236                              24.0         2.0         2.0
50106                              15.0         0.0         2.0
52296                              19.0         8.0         9.0
...                                 ...         ...         ...
54363                              18.0         3.0         3.0
52488                              14.0         0.0         1.0
55064                              12.0         2.0         2.0
51959                              19.0         1.0         1.0
51315                              19.0         3.0         3.0

            DaySinceLastOrder  CashbackAmount  Churn
CustomerID
54007                     8.0          181.75      0
51970                     NaN          209.34      0
54236                     9.0          169.24      0
50106                     2.0          132.12      0
52296                     6.0          198.52      0
...                       ...             ...    ...
54363                     1.0          163.15      0
52488                     4.0          157.69      0
55064                     1.0          191.23      0
51959                     2.0          137.37      0
51315                     4.0          176.44      0

[1126 rows x 19 columns]

In [5]:
X_y_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4504 entries, 51788 to 55141
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Tenure                       4291 non-null   float64
 1   PreferredLoginDevice         4504 non-null   object
 2   CityTier                     4504 non-null   int64
 3   WarehouseToHome              4298 non-null   float64
 4   PreferredPaymentMode         4504 non-null   object
 5   Gender                       4504 non-null   object
 6   HourSpendOnApp               4307 non-null   float64
 7   NumberOfDeviceRegistered     4504 non-null   int64
 8   PreferedOrderCat             4504 non-null   object
 9   SatisfactionScore            4504 non-null   int64
 10  MaritalStatus                4504 non-null   object
 11  NumberOfAddress              4504 non-null   int64
 12  Complain                     4504 non-null   int64
 13  OrderAmountHikeFromlastYear  4296 non-null   float64
 14  CouponUsed                   4296 non-null   float64
 15  OrderCount                   4292 non-null   float64
 16  DaySinceLastOrder            4257 non-null   float64
 17  CashbackAmount               4504 non-null   float64
 18  Churn                        4504 non-null   int64
dtypes: float64(8), int64(6), object(5)
memory usage: 832.8+ KB

In [6]:
X_y_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1126 entries, 54007 to 51315
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Tenure                       1075 non-null   float64
 1   PreferredLoginDevice         1126 non-null   object
 2   CityTier                     1126 non-null   int64
 3   WarehouseToHome              1081 non-null   float64
 4   PreferredPaymentMode         1126 non-null   object
 5   Gender                       1126 non-null   object
 6   HourSpendOnApp               1068 non-null   float64
 7   NumberOfDeviceRegistered     1126 non-null   int64
 8   PreferedOrderCat             1126 non-null   object
 9   SatisfactionScore            1126 non-null   int64
 10  MaritalStatus                1126 non-null   object
 11  NumberOfAddress              1126 non-null   int64
 12  Complain                     1126 non-null   int64
 13  OrderAmountHikeFromlastYear  1069 non-null   float64
 14  CouponUsed                   1078 non-null   float64
 15  OrderCount                   1080 non-null   float64
 16  DaySinceLastOrder            1066 non-null   float64
 17  CashbackAmount               1126 non-null   float64
 18  Churn                        1126 non-null   int64
dtypes: float64(8), int64(6), object(5)
memory usage: 208.2+ KB

## b. Remove those rows that contain NaN values in the columns: age, gender, ethnicity.

In [8]:
X_y_train = DropNaNs(X_y_train, ['age', 'gender', 'ethnicity']).drop()
X_y_test = DropNaNs(X_y_test, ['age', 'gender', 'ethnicity']).drop()

print('X_y_train>>', X_y_train.info())
print('X_y_test>>', X_y_test.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7503 entries, 864 to 1708
Data columns (total 52 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   encounter_id                 7503 non-null   int64
 1   hospital_id                  7503 non-null   int64
 2   age                          7503 non-null   float64
 3   bmi                          6195 non-null   float64
 4   elective_surgery             7503 non-null   int64
 5   ethnicity                    7503 non-null   object
 6   gender                       7503 non-null   object
 7   height                       7401 non-null   float64
 8   hospital_admit_source        6816 non-null   object
 9   icu_admit_source             7484 non-null   object
 10  icu_id                       7503 non-null   int64
 11  icu_stay_type                7503 non-null   object
 12  icu_type                     7503 non-null   object
 13  pre_icu_los_days             7503 non-null   float64
 14  readmission_status           7503 non-null   int64
 15  weight                       6247 non-null   float64
 16  albumin_apache               2668 non-null   float64
 17  apache_2_diagnosis           7357 non-null   float64
 18  apache_3j_diagnosis          7459 non-null   float64
 19  apache_post_operative        7503 non-null   int64
 20  arf_apache                   7503 non-null   int64
 21  bilirubin_apache             2567 non-null   float64
 22  bun_apache                   5602 non-null   float64
 23  creatinine_apache            5701 non-null   float64
 24  fio2_apache                  2244 non-null   float64
 25  gcs_eyes_apache              7449 non-null   float64
 26  gcs_motor_apache             7449 non-null   float64
 27  gcs_unable_apache            7453 non-null   float64
 28  gcs_verbal_apache            7449 non-null   float64
 29  glucose_apache               6706 non-null   float64
 30  heart_rate_apache            7502 non-null   float64
 31  hematocrit_apache            6007 non-null   float64
 32  intubated_apache             7503 non-null   int64
 33  map_apache                   7493 non-null   float64
 34  paco2_apache                 2244 non-null   float64
 35  paco2_for_ph_apache          2244 non-null   float64
 36  pao2_apache                  2244 non-null   float64
 37  ph_apache                    2244 non-null   float64
 38  resprate_apache              7479 non-null   float64
 39  sodium_apache                5650 non-null   float64
 40  temp_apache                  7440 non-null   float64
 41  urineoutput_apache           1119 non-null   float64
 42  ventilated_apache            7503 non-null   int64
 43  wbc_apache                   5869 non-null   float64
 44  aids                         7503 non-null   int64
 45  cirrhosis                    7503 non-null   int64
 46  hepatic_failure              7503 non-null   int64
 47  immunosuppression            7503 non-null   int64
 48  leukemia                     7503 non-null   int64
 49  lymphoma                     7503 non-null   int64
 50  solid_tumor_with_metastasis  7503 non-null   int64
 51  diabetes_mellitus            7503 non-null   int64
dtypes: float64(29), int64(17), object(6)
memory usage: 3.0+ MB
X_y_train>> None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1865 entries, 5012 to 5575
Data columns (total 52 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   encounter_id                 1865 non-null   int64
 1   hospital_id                  1865 non-null   int64
 2   age                          1865 non-null   float64
 3   bmi                          1551 non-null   float64
 4   elective_surgery             1865 non-null   int64
 5   ethnicity                    1865 non-null   object
 6   gender                       1865 non-null   object
 7   height                       1840 non-null   float64
 8   hospital_admit_source        1702 non-null   object
 9   icu_admit_source             1863 non-null   object
 10  icu_id                       1865 non-null   int64
 11  icu_stay_type                1865 non-null   object
 12  icu_type                     1865 non-null   object
 13  pre_icu_los_days             1865 non-null   float64
 14  readmission_status           1865 non-null   int64
 15  weight                       1565 non-null   float64
 16  albumin_apache               654 non-null    float64
 17  apache_2_diagnosis           1834 non-null   float64
 18  apache_3j_diagnosis          1860 non-null   float64
 19  apache_post_operative        1865 non-null   int64
 20  arf_apache                   1865 non-null   int64
 21  bilirubin_apache             631 non-null    float64
 22  bun_apache                   1394 non-null   float64
 23  creatinine_apache            1420 non-null   float64
 24  fio2_apache                  541 non-null    float64
 25  gcs_eyes_apache              1854 non-null   float64
 26  gcs_motor_apache             1854 non-null   float64
 27  gcs_unable_apache            1854 non-null   float64
 28  gcs_verbal_apache            1854 non-null   float64
 29  glucose_apache               1654 non-null   float64
 30  heart_rate_apache            1865 non-null   float64
 31  hematocrit_apache            1482 non-null   float64
 32  intubated_apache             1865 non-null   int64
 33  map_apache                   1863 non-null   float64
 34  paco2_apache                 541 non-null    float64
 35  paco2_for_ph_apache          541 non-null    float64
 36  pao2_apache                  541 non-null    float64
 37  ph_apache                    541 non-null    float64
 38  resprate_apache              1856 non-null   float64
 39  sodium_apache                1397 non-null   float64
 40  temp_apache                  1843 non-null   float64
 41  urineoutput_apache           268 non-null    float64
 42  ventilated_apache            1865 non-null   int64
 43  wbc_apache                   1445 non-null   float64
 44  aids                         1865 non-null   int64
 45  cirrhosis                    1865 non-null   int64
 46  hepatic_failure              1865 non-null   int64
 47  immunosuppression            1865 non-null   int64
 48  leukemia                     1865 non-null   int64
 49  lymphoma                     1865 non-null   int64
 50  solid_tumor_with_metastasis  1865 non-null   int64
 51  diabetes_mellitus            1865 non-null   int64
dtypes: float64(29), int64(17), object(6)
memory usage: 772.2+ KB
X_y_test>> None

## c. Fill NaN with the mean value of the column in the columns: height, weight.

In [9]:
print('X_y_train nans before filling>>>\n', X_y_train.isna().sum().T[['height', 'weight']])
print('X_y_test nans before filling>>>\n', X_y_test.isna().sum().T[['height', 'weight']])

X_y_train = FillNaNs(X_y_train, ['height', 'weight']).fill()
X_y_test = FillNaNs(X_y_test, ['height', 'weight']).fill()

print('X_y_train nans after filling>>>\n', X_y_train.isna().sum().T[['height', 'weight']])
print('X_y_test nans after filling>>>\n', X_y_test.isna().sum().T[['height', 'weight']])

X_y_train nans before filling>>>
 height     102
weight    1256
dtype: int64
X_y_test nans before filling>>>
 height     25
weight    300
dtype: int64
X_y_train nans after filling>>>
 height    0
weight    0
dtype: int64
X_y_test nans after filling>>>
 height    0
weight    0
dtype: int64

## d. Transformations

In [10]:
# dummify ethnicity
X_y_train = Dummifier(X_y_train, ['ethnicity']).generate()
X_y_test = Dummifier(X_y_test, ['ethnicity']).generate()

print('X_y_train>>', X_y_train.info())
print('X_y_test>>', X_y_test.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7503 entries, 864 to 1708
Data columns (total 57 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   encounter_id                 7503 non-null   int64
 1   hospital_id                  7503 non-null   int64
 2   age                          7503 non-null   float64
 3   bmi                          6195 non-null   float64
 4   elective_surgery             7503 non-null   int64
 5   gender                       7503 non-null   object
 6   height                       7503 non-null   float64
 7   hospital_admit_source        6816 non-null   object
 8   icu_admit_source             7484 non-null   object
 9   icu_id                       7503 non-null   int64
 10  icu_stay_type                7503 non-null   object
 11  icu_type                     7503 non-null   object
 12  pre_icu_los_days             7503 non-null   float64
 13  readmission_status           7503 non-null   int64
 14  weight                       7503 non-null   float64
 15  albumin_apache               2668 non-null   float64
 16  apache_2_diagnosis           7357 non-null   float64
 17  apache_3j_diagnosis          7459 non-null   float64
 18  apache_post_operative        7503 non-null   int64
 19  arf_apache                   7503 non-null   int64
 20  bilirubin_apache             2567 non-null   float64
 21  bun_apache                   5602 non-null   float64
 22  creatinine_apache            5701 non-null   float64
 23  fio2_apache                  2244 non-null   float64
 24  gcs_eyes_apache              7449 non-null   float64
 25  gcs_motor_apache             7449 non-null   float64
 26  gcs_unable_apache            7453 non-null   float64
 27  gcs_verbal_apache            7449 non-null   float64
 28  glucose_apache               6706 non-null   float64
 29  heart_rate_apache            7502 non-null   float64
 30  hematocrit_apache            6007 non-null   float64
 31  intubated_apache             7503 non-null   int64
 32  map_apache                   7493 non-null   float64
 33  paco2_apache                 2244 non-null   float64
 34  paco2_for_ph_apache          2244 non-null   float64
 35  pao2_apache                  2244 non-null   float64
 36  ph_apache                    2244 non-null   float64
 37  resprate_apache              7479 non-null   float64
 38  sodium_apache                5650 non-null   float64
 39  temp_apache                  7440 non-null   float64
 40  urineoutput_apache           1119 non-null   float64
 41  ventilated_apache            7503 non-null   int64
 42  wbc_apache                   5869 non-null   float64
 43  aids                         7503 non-null   int64
 44  cirrhosis                    7503 non-null   int64
 45  hepatic_failure              7503 non-null   int64
 46  immunosuppression            7503 non-null   int64
 47  leukemia                     7503 non-null   int64
 48  lymphoma                     7503 non-null   int64
 49  solid_tumor_with_metastasis  7503 non-null   int64
 50  diabetes_mellitus            7503 non-null   int64
 51  ethnicity_African American   7503 non-null   uint8
 52  ethnicity_Asian              7503 non-null   uint8
 53  ethnicity_Caucasian          7503 non-null   uint8
 54  ethnicity_Hispanic           7503 non-null   uint8
 55  ethnicity_Native American    7503 non-null   uint8
 56  ethnicity_Other/Unknown      7503 non-null   uint8
dtypes: float64(29), int64(17), object(5), uint8(6)
memory usage: 3.0+ MB
X_y_train>> None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1865 entries, 5012 to 5575
Data columns (total 57 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   encounter_id                 1865 non-null   int64
 1   hospital_id                  1865 non-null   int64
 2   age                          1865 non-null   float64
 3   bmi                          1551 non-null   float64
 4   elective_surgery             1865 non-null   int64
 5   gender                       1865 non-null   object
 6   height                       1865 non-null   float64
 7   hospital_admit_source        1702 non-null   object
 8   icu_admit_source             1863 non-null   object
 9   icu_id                       1865 non-null   int64
 10  icu_stay_type                1865 non-null   object
 11  icu_type                     1865 non-null   object
 12  pre_icu_los_days             1865 non-null   float64
 13  readmission_status           1865 non-null   int64
 14  weight                       1865 non-null   float64
 15  albumin_apache               654 non-null    float64
 16  apache_2_diagnosis           1834 non-null   float64
 17  apache_3j_diagnosis          1860 non-null   float64
 18  apache_post_operative        1865 non-null   int64
 19  arf_apache                   1865 non-null   int64
 20  bilirubin_apache             631 non-null    float64
 21  bun_apache                   1394 non-null   float64
 22  creatinine_apache            1420 non-null   float64
 23  fio2_apache                  541 non-null    float64
 24  gcs_eyes_apache              1854 non-null   float64
 25  gcs_motor_apache             1854 non-null   float64
 26  gcs_unable_apache            1854 non-null   float64
 27  gcs_verbal_apache            1854 non-null   float64
 28  glucose_apache               1654 non-null   float64
 29  heart_rate_apache            1865 non-null   float64
 30  hematocrit_apache            1482 non-null   float64
 31  intubated_apache             1865 non-null   int64
 32  map_apache                   1863 non-null   float64
 33  paco2_apache                 541 non-null    float64
 34  paco2_for_ph_apache          541 non-null    float64
 35  pao2_apache                  541 non-null    float64
 36  ph_apache                    541 non-null    float64
 37  resprate_apache              1856 non-null   float64
 38  sodium_apache                1397 non-null   float64
 39  temp_apache                  1843 non-null   float64
 40  urineoutput_apache           268 non-null    float64
 41  ventilated_apache            1865 non-null   int64
 42  wbc_apache                   1445 non-null   float64
 43  aids                         1865 non-null   int64
 44  cirrhosis                    1865 non-null   int64
 45  hepatic_failure              1865 non-null   int64
 46  immunosuppression            1865 non-null   int64
 47  leukemia                     1865 non-null   int64
 48  lymphoma                     1865 non-null   int64
 49  solid_tumor_with_metastasis  1865 non-null   int64
 50  diabetes_mellitus            1865 non-null   int64
 51  ethnicity_African American   1865 non-null   uint8
 52  ethnicity_Asian              1865 non-null   uint8
 53  ethnicity_Caucasian          1865 non-null   uint8
 54  ethnicity_Hispanic           1865 non-null   uint8
 55  ethnicity_Native American    1865 non-null   uint8
 56  ethnicity_Other/Unknown      1865 non-null   uint8
dtypes: float64(29), int64(17), object(5), uint8(6)
memory usage: 768.6+ KB
X_y_test>> None

In [11]:
# binarize gender
X_y_train = Binarizer(X_y_train, 'gender', 'M/F').generate()
X_y_test = Binarizer(X_y_test, 'gender', 'M/F').generate()

print('X_y_train>>', X_y_train.info())
print('X_y_test>>', X_y_test.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7503 entries, 864 to 1708
Data columns (total 57 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   encounter_id                 7503 non-null   int64
 1   hospital_id                  7503 non-null   int64
 2   age                          7503 non-null   float64
 3   bmi                          6195 non-null   float64
 4   elective_surgery             7503 non-null   int64
 5   height                       7503 non-null   float64
 6   hospital_admit_source        6816 non-null   object
 7   icu_admit_source             7484 non-null   object
 8   icu_id                       7503 non-null   int64
 9   icu_stay_type                7503 non-null   object
 10  icu_type                     7503 non-null   object
 11  pre_icu_los_days             7503 non-null   float64
 12  readmission_status           7503 non-null   int64
 13  weight                       7503 non-null   float64
 14  albumin_apache               2668 non-null   float64
 15  apache_2_diagnosis           7357 non-null   float64
 16  apache_3j_diagnosis          7459 non-null   float64
 17  apache_post_operative        7503 non-null   int64
 18  arf_apache                   7503 non-null   int64
 19  bilirubin_apache             2567 non-null   float64
 20  bun_apache                   5602 non-null   float64
 21  creatinine_apache            5701 non-null   float64
 22  fio2_apache                  2244 non-null   float64
 23  gcs_eyes_apache              7449 non-null   float64
 24  gcs_motor_apache             7449 non-null   float64
 25  gcs_unable_apache            7453 non-null   float64
 26  gcs_verbal_apache            7449 non-null   float64
 27  glucose_apache               6706 non-null   float64
 28  heart_rate_apache            7502 non-null   float64
 29  hematocrit_apache            6007 non-null   float64
 30  intubated_apache             7503 non-null   int64
 31  map_apache                   7493 non-null   float64
 32  paco2_apache                 2244 non-null   float64
 33  paco2_for_ph_apache          2244 non-null   float64
 34  pao2_apache                  2244 non-null   float64
 35  ph_apache                    2244 non-null   float64
 36  resprate_apache              7479 non-null   float64
 37  sodium_apache                5650 non-null   float64
 38  temp_apache                  7440 non-null   float64
 39  urineoutput_apache           1119 non-null   float64
 40  ventilated_apache            7503 non-null   int64
 41  wbc_apache                   5869 non-null   float64
 42  aids                         7503 non-null   int64
 43  cirrhosis                    7503 non-null   int64
 44  hepatic_failure              7503 non-null   int64
 45  immunosuppression            7503 non-null   int64
 46  leukemia                     7503 non-null   int64
 47  lymphoma                     7503 non-null   int64
 48  solid_tumor_with_metastasis  7503 non-null   int64
 49  diabetes_mellitus            7503 non-null   int64
 50  ethnicity_African American   7503 non-null   uint8
 51  ethnicity_Asian              7503 non-null   uint8
 52  ethnicity_Caucasian          7503 non-null   uint8
 53  ethnicity_Hispanic           7503 non-null   uint8
 54  ethnicity_Native American    7503 non-null   uint8
 55  ethnicity_Other/Unknown      7503 non-null   uint8
 56  M/F                          7503 non-null   uint8
dtypes: float64(29), int64(17), object(4), uint8(7)
memory usage: 3.0+ MB
X_y_train>> None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1865 entries, 5012 to 5575
Data columns (total 57 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   encounter_id                 1865 non-null   int64
 1   hospital_id                  1865 non-null   int64
 2   age                          1865 non-null   float64
 3   bmi                          1551 non-null   float64
 4   elective_surgery             1865 non-null   int64
 5   height                       1865 non-null   float64
 6   hospital_admit_source        1702 non-null   object
 7   icu_admit_source             1863 non-null   object
 8   icu_id                       1865 non-null   int64
 9   icu_stay_type                1865 non-null   object
 10  icu_type                     1865 non-null   object
 11  pre_icu_los_days             1865 non-null   float64
 12  readmission_status           1865 non-null   int64
 13  weight                       1865 non-null   float64
 14  albumin_apache               654 non-null    float64
 15  apache_2_diagnosis           1834 non-null   float64
 16  apache_3j_diagnosis          1860 non-null   float64
 17  apache_post_operative        1865 non-null   int64
 18  arf_apache                   1865 non-null   int64
 19  bilirubin_apache             631 non-null    float64
 20  bun_apache                   1394 non-null   float64
 21  creatinine_apache            1420 non-null   float64
 22  fio2_apache                  541 non-null    float64
 23  gcs_eyes_apache              1854 non-null   float64
 24  gcs_motor_apache             1854 non-null   float64
 25  gcs_unable_apache            1854 non-null   float64
 26  gcs_verbal_apache            1854 non-null   float64
 27  glucose_apache               1654 non-null   float64
 28  heart_rate_apache            1865 non-null   float64
 29  hematocrit_apache            1482 non-null   float64
 30  intubated_apache             1865 non-null   int64
 31  map_apache                   1863 non-null   float64
 32  paco2_apache                 541 non-null    float64
 33  paco2_for_ph_apache          541 non-null    float64
 34  pao2_apache                  541 non-null    float64
 35  ph_apache                    541 non-null    float64
 36  resprate_apache              1856 non-null   float64
 37  sodium_apache                1397 non-null   float64
 38  temp_apache                  1843 non-null   float64
 39  urineoutput_apache           268 non-null    float64
 40  ventilated_apache            1865 non-null   int64
 41  wbc_apache                   1445 non-null   float64
 42  aids                         1865 non-null   int64
 43  cirrhosis                    1865 non-null   int64
 44  hepatic_failure              1865 non-null   int64
 45  immunosuppression            1865 non-null   int64
 46  leukemia                     1865 non-null   int64
 47  lymphoma                     1865 non-null   int64
 48  solid_tumor_with_metastasis  1865 non-null   int64
 49  diabetes_mellitus            1865 non-null   int64
 50  ethnicity_African American   1865 non-null   uint8
 51  ethnicity_Asian              1865 non-null   uint8
 52  ethnicity_Caucasian          1865 non-null   uint8
 53  ethnicity_Hispanic           1865 non-null   uint8
 54  ethnicity_Native American    1865 non-null   uint8
 55  ethnicity_Other/Unknown      1865 non-null   uint8
 56  M/F                          1865 non-null   uint8
dtypes: float64(29), int64(17), object(4), uint8(7)
memory usage: 755.8+ KB
X_y_test>> None

### e. Model

In [12]:
# model_ = Model(feature_columns=X_FEATURES, target_column=Y_FEATURE, model=LogisticRegression, hyperparamaterers={'penalty': 'l2', 'solver': 'saga'})
model_ = Model(feature_columns=X_FEATURES, target_column=Y_FEATURE, model=RandomForestClassifier, hyperparamaterers={'n_estimators': 1000, 'criterion': 'gini'})

# f. Training & prediction

In [13]:
model_.train(X_y_train)
preds = model_.predict(X_y_test)
print('preds>>', preds)

Model has been fitted on training dataset!!
preds>> [[0.521   0.479  ]
 [0.993   0.007  ]
 [0.727   0.273  ]
 ...
 [0.75675 0.24325]
 [0.934   0.066  ]
 [0.965   0.035  ]]

# 7. roc_auc_score calculation

In [14]:
X_y_test['roc_auc_score'] = preds[:, 1]

print('AUC ROC score Train: ', roc_auc_score(X_y_test[Y_FEATURE], X_y_test['roc_auc_score']))

AUC ROC score Train:  0.62742663476874